META_APP_SECRET=obtain-from-meta
META_PHONE_NUMBER_ID=obtain-from-meta
META_ACCESS_TOKEN=obtain-from-meta
WEBHOOK_VERIFY_TOKEN=generate-here-and-configure-in-meta
ADMIN_TOKEN=whatever-you-want
PORT=3000
DATABASE_PATH=./data/relay.db

# If you want the server to be accessible via HTTPS, set these paths
HTTPS_CERT_PATH=./certs/cert.pem
HTTPS_KEY_PATH=./certs/key.pem
